/* Feuille de style personnalisée */
/*** Écrivons au président ! ***/
/* © Bastien Tréhoux -- Licence MIT */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

a:hover {
    text-decoration-style: dashed;
}

header {
    padding-bottom: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a, header a:hover, header a:visited {
    color: mediumseagreen;
}

.active {
    text-decoration: none;
    font-weight: bolder;
    text-decoration-style: solid;
    opacity: 0.6;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:visited {
	color: lightsteelblue;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
}

footer {
    margin-top: 2em;
    text-align: center;
}

header .logo{
  text-align: center;
  width: 6em;
  height: 6em;
  margin-top: 0;
  padding-top: 0.5em;
  background: center / contain no-repeat url('/img/titre-lrg.png');
}

h1 {
  text-align: center;
}

.p-right {
  text-align: right;
}

footer a, footer a:visited {
  color: gray;
}

ul {
  list-style-type: "\2014 \0020";
}

.error-doc * {
  text-align: center;
}

h1[class="error-doc"] {
  color: red;
}

.menu li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.cc-btn:hover, .btn a:hover {
    text-decoration: none;
}

/* ForkAwsome */


/* tarteaucitron.js */
#tarteaucitronRoot * {
  font-family: "Work Sans", sans-serif;
}

/* Autres */
.lettre {
  background-color: mediumseagreen;
  padding: 1em;
  border-radius: 0.25em;
  color: white;
}

/* Responsive design */
@media (max-width: 720px) {
  footer .menu {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  header .logo {
    background: center / contain no-repeat url('/img/titre-sml.png');
    width: 17em;
    height: 7em;
  }

  header {
    flex-direction: column;
  }

}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
	html, body {
		background-color: black;
		color: white;
	}
	
}
